.form {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.inputWrap {
    flex-basis: 100%;
    margin-bottom: 25px;
}

.formError {
    font-size: 15px;
    line-height: 18px;
    color: #FF0000;
}

.formInput {
    width: 100%;
    padding: 13px;
    font-size: 20px;
}

.formInput:disabled  + .formError{
    display: none;
}

.formButton {
    flex-basis: 100%;
    font-size: 40px;
    font-weight: 600;
    color: white;
    background-color: #304F59;
    margin-bottom: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

label.formInput {
    padding: 0;
    font-size: 15px;
    line-height: 18px;
}

label.decoratedFormInput {
    display: inline-block;
    flex-basis: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
}

.formInput[type="file"] {
    display: none;
}

.formInput::-webkit-file-upload-button {
    display: none;
}